{% extends "itreporting/base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">About Our Cramberry University</h1>
    <p class="text-center mb-4">Cramberry University is a place where you will find your future.<p>
    <section class="mb-4">
        <h2>Our Vision</h2>
        <p>Here in our university we will try our utmost to get you to where you would like to be.<p>
    <section>
        <h2>Why Choose Us?</h2>
        <p>Our university offers courses which are unique and what you would like to do.</p>
    </section>
</div>
{% endblock %}




