{% extends "itreporting/base.html" %}

{% block content %}
    <h1>Welcome to the homepage</h1>
{% endblock %}

{% block sidebar %}
    <div class="col-md-4"> 
        <h3>Current Weathers</h3> 
        <p class='text-muted'>
            Cities across United Kingdom
        </p>

        <ul class="list-group"> 
            {% for weather in weather_data %} 
                <li class="list-group-item list-group-item-light">
                    {{ weather.city }}: {{ weather.description }}, {{ weather.temperature }}&deg;C
                </li> 
            {% endfor %}
        </ul>
    </div>
{% endblock sidebar %}
