{% extends "itreporting/base.html" %}

{% block content %}
<div class="container">
    <h1>{{ object.name }}</h1>
    <p>{{ object.description }}</p>
    <p>Instructor: {{ object.instructor.username }}</p>
    <p>Date Added: {{ object.date_added }}</p>

    <h3>Courses in this Module:</h3>
    <ul class="list-group">
        {% for course in object.courses.all %}
        <li class="list-group-item">{{ course.name }} - {{ course.description }}</li>
        {% empty %}
        <p>No courses available in this module.</p>
        {% endfor %}
    </ul>

    {% if request.user == object.instructor %}
    <a href="{% url 'itreporting:module-update' object.pk %}" class="btn btn-warning">Edit Module</a>
    <form action="{% url 'itreporting:module-delete' object.pk %}" method="POST" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Module</button>
    </form>
    {% endif %}
</div>
{% endblock %}

